<table mat-table [dataSource]="students" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
    <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
  </ng-container>

  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef> Telefono </th>
    <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
  </ng-container>

    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>

  <ng-container matColumnDef="examenParcial">
    <th mat-header-cell *matHeaderCellDef> Examen Parcial </th>
    <td mat-cell *matCellDef="let element"> {{element.examenParcial}} </td>
  </ng-container>

    <ng-container matColumnDef="examenFinal">
      <th mat-header-cell *matHeaderCellDef> Examen Final </th>
      <td mat-cell *matCellDef="let element"> {{element.examenFinal}} </td>
    </ng-container>

    <ng-container matColumnDef="proyecto">
      <th mat-header-cell *matHeaderCellDef> Proyecto </th>
      <td mat-cell *matCellDef="let element"> {{element.proyecto}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> 
      <button mat-icon-button color="primary" (click)="editStudent()">
       <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
       </button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>